<a href="https://colab.research.google.com/github/jrahemtulla/TeamSolar/blob/main/Clean_Stanford.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# New Section

In [ ]:
#read data from Stanford Deep solar
url= "http://web.stanford.edu/group/deepsolar/deepsolar_tract.csv"
data= pd.read_csv(url,encoding='cp1252')

NameError: ignored

In [ ]:
data.head()

,Unnamed: 0,tile_count,solar_system_count,total_panel_area,fips,average_household_income,county,education_bachelor,education_college,education_doctoral,...,incentive_count_nonresidential,incentive_residential_state_level,incentive_nonresidential_state_level,net_metering,feedin_tariff,cooperate_tax,property_tax,sales_tax,rebate,avg_electricity_retail_rate
0,0,0.0,0.0,0.000000,27145011200,70352.789869,Stearns County,569,1690,13,...,39,11,13,34,0,0,25,12,0,9.46
1,1,25.0,21.0,1133.436461,27145011301,61727.085202,Stearns County,674,1434,108,...,39,11,13,34,0,0,25,12,0,9.46
2,2,3.0,3.0,64.505776,27145011302,71496.886583,Stearns County,854,1459,31,...,39,11,13,34,0,0,25,12,0,9.46
3,3,0.0,0.0,0.000000,27145011304,86840.152755,Stearns County,640,1116,68,...,39,11,13,34,0,0,25,12,0,9.46
4,4,5.0,5.0,164.583303,27145011400,89135.315597,Stearns County,654,1314,15,...,39,11,13,34,0,0,25,12,0,9.46

In [ ]:
#Select relevant columns
cols = ['tile_count_residential','solar_system_count_residential','total_panel_area_residential','lat','lon','daily_solar_radiation', 'rebate', 'avg_electricity_retail_rate']
data = data[cols]

print(data.shape)

(72537, 8)

In [ ]:
#Remove NAs from lat and long
data['lat'].replace('',np.nan, inplace=True)
data['lon'].replace('',np.nan, inplace=True)
data.head

<bound method NDFrame.head of        tile_count_residential  solar_system_count_residential  \
0                         0.0                             0.0
1                        17.0                            15.0
2                         3.0                             3.0
3                         0.0                             0.0
4                         4.0                             4.0
...                       ...                             ...
72532                     1.0                             1.0
72533                     0.0                             0.0
72534                     1.0                             1.0
72535                     0.0                             0.0
72536                     0.0                             0.0

       total_panel_area_residential     lat      lon  daily_solar_radiation  \
0                          0.000000  45.369  -94.282                   3.76
1                        297.274652     NaN      NaN                    NaN
2                         64.505776  45.460  -94.425                   3.76
3                          0.000000  45.507  -94.388                   3.76
4                         61.050581  45.457  -94.182                   3.76
...                             ...     ...      ...                    ...
72532                     40.277124  39.948 -105.906                   4.54
72533                      0.000000  33.935  -97.087                   4.68
72534                     21.902255  33.914  -97.098                   4.68
72535                      0.000000  33.945  -97.402                   4.68
72536                      0.000000  30.899  -99.800                   4.91

       rebate  avg_electricity_retail_rate
0           0                         9.46
1           0                         9.46
2           0                         9.46
3           0                         9.46
4           0                         9.46
...       ...                          ...
72532       0                         9.82
72533       0                         7.86
72534       0                         7.86
72535       0                         7.86
72536       0                         8.66

[72537 rows x 8 columns]>

In [ ]:
data.dropna(subset =['lat','lon'], inplace= True)
data.head

<bound method NDFrame.head of        tile_count_residential  solar_system_count_residential  \
0                         0.0                             0.0
2                         3.0                             3.0
3                         0.0                             0.0
4                         4.0                             4.0
5                         0.0                             0.0
...                       ...                             ...
72532                     1.0                             1.0
72533                     0.0                             0.0
72534                     1.0                             1.0
72535                     0.0                             0.0
72536                     0.0                             0.0

       total_panel_area_residential     lat      lon  daily_solar_radiation  \
0                          0.000000  45.369  -94.282                   3.76
2                         64.505776  45.460  -94.425                   3.76
3                          0.000000  45.507  -94.388                   3.76
4                         61.050581  45.457  -94.182                   3.76
5                          0.000000  45.680  -95.010                   3.76
...                             ...     ...      ...                    ...
72532                     40.277124  39.948 -105.906                   4.54
72533                      0.000000  33.935  -97.087                   4.68
72534                     21.902255  33.914  -97.098                   4.68
72535                      0.000000  33.945  -97.402                   4.68
72536                      0.000000  30.899  -99.800                   4.91

       rebate  avg_electricity_retail_rate
0           0                         9.46
2           0                         9.46
3           0                         9.46
4           0                         9.46
5           0                         9.46
...       ...                          ...
72532       0                         9.82
72533       0                         7.86
72534       0                         7.86
72535       0                         7.86
72536       0                         8.66

[66735 rows x 8 columns]>

In [ ]:
#add a row identifier
data['row_num'] = np.arange(len(data))
data.head

<bound method NDFrame.head of        tile_count_residential  solar_system_count_residential  \
0                         0.0                             0.0
2                         3.0                             3.0
3                         0.0                             0.0
4                         4.0                             4.0
5                         0.0                             0.0
...                       ...                             ...
72532                     1.0                             1.0
72533                     0.0                             0.0
72534                     1.0                             1.0
72535                     0.0                             0.0
72536                     0.0                             0.0

       total_panel_area_residential     lat      lon  daily_solar_radiation  \
0                          0.000000  45.369  -94.282                   3.76
2                         64.505776  45.460  -94.425                   3.76
3                          0.000000  45.507  -94.388                   3.76
4                         61.050581  45.457  -94.182                   3.76
5                          0.000000  45.680  -95.010                   3.76
...                             ...     ...      ...                    ...
72532                     40.277124  39.948 -105.906                   4.54
72533                      0.000000  33.935  -97.087                   4.68
72534                     21.902255  33.914  -97.098                   4.68
72535                      0.000000  33.945  -97.402                   4.68
72536                      0.000000  30.899  -99.800                   4.91

       rebate  avg_electricity_retail_rate  row_num
0           0                         9.46        0
2           0                         9.46        1
3           0                         9.46        2
4           0                         9.46        3
5           0                         9.46        4
...       ...                          ...      ...
72532       0                         9.82    66730
72533       0                         7.86    66731
72534       0                         7.86    66732
72535       0                         7.86    66733
72536       0                         8.66    66734

[66735 rows x 9 columns]>

In [ ]:
#add output estimate column KwH
#total panel area in sq meters * 1000 * efficiency (15%-18%) *no of sun hours /1000 
data['average_daily_output_estimate'] =  ((data['total_panel_area_residential']*1000) * 0.15 *data['daily_solar_radiation'])/1000
data.head

<bound method NDFrame.head of        tile_count_residential  solar_system_count_residential  \
0                         0.0                             0.0
2                         3.0                             3.0
3                         0.0                             0.0
4                         4.0                             4.0
5                         0.0                             0.0
...                       ...                             ...
72532                     1.0                             1.0
72533                     0.0                             0.0
72534                     1.0                             1.0
72535                     0.0                             0.0
72536                     0.0                             0.0

       total_panel_area_residential     lat      lon  daily_solar_radiation  \
0                          0.000000  45.369  -94.282                   3.76
2                         64.505776  45.460  -94.425                   3.76
3                          0.000000  45.507  -94.388                   3.76
4                         61.050581  45.457  -94.182                   3.76
5                          0.000000  45.680  -95.010                   3.76
...                             ...     ...      ...                    ...
72532                     40.277124  39.948 -105.906                   4.54
72533                      0.000000  33.935  -97.087                   4.68
72534                     21.902255  33.914  -97.098                   4.68
72535                      0.000000  33.945  -97.402                   4.68
72536                      0.000000  30.899  -99.800                   4.91

       rebate  avg_electricity_retail_rate  row_num  \
0           0                         9.46        0
2           0                         9.46        1
3           0                         9.46        2
4           0                         9.46        3
5           0                         9.46        4
...       ...                          ...      ...
72532       0                         9.82    66730
72533       0                         7.86    66731
72534       0                         7.86    66732
72535       0                         7.86    66733
72536       0                         8.66    66734

       average_daily_output_estimate
0                           0.000000
2                          36.381258
3                           0.000000
4                          34.432527
5                           0.000000
...                              ...
72532                      27.428721
72533                       0.000000
72534                      15.375383
72535                       0.000000
72536                       0.000000

[66735 rows x 10 columns]>

In [ ]:
#export edited data to csv to transfer into mapbox
data.to_csv('deep_solar2.csv', encoding='utf-8')